
<div id='map' style='width:100%; height:700px;'></div>

  <div class="fixed-action-btn">
  <a class="btn-floating btn-large blue" onclick="getLocation()">
    <i class="large material-icons">my_location</i>
  </a>

</div>
