
<div id="map" style="width:400px;height:400px;background:yellow"></div>
  <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">my_location</i>
  </a>
  
</div>