<parking></parking>
  <div class="fixed-action-btn">
  <a class="btn-floating btn-large blue" onclick="new_parking()">
    <i class="large material-icons">add</i>
  </a>
</div>

 <div id="new-parking-modal" class="modal modal-fixed-footer full-width-on-small">
    <div class="modal-content">
    	<h5>Nuevo estacionamiento</h5><hr>
        <%=render '/estacionamientos/form',estacionamiento:@estacionamiento%>
    </div>
    <div class="modal-footer">

      <a  class="pointer modal-close waves-effect waves-green btn-flat">
        Cancelar
      </a>
    </div>
  </div>
  <script>
  window.parking_tag=riot.mount("parking",{
    parkings:JSON.parse(`<%=@estacionamientos.to_json.html_safe %>`)
  })[0];
  $('.stepper').activateStepper({
     linearStepsNavigation: true, //allow navigation by clicking on the next and previous steps on linear steppers
     autoFocusInput: false, //since 2.1.1, stepper can auto focus on first input of each step
     autoFormCreation: true, //control the auto generation of a form around the stepper (in case you want to disable it)
     showFeedbackLoader: true ,//set if a loading screen will appear while feedbacks functions are running,
     parallel: false // By default we don't assume the stepper is parallel, this is set to true when stepper has .parallel class
  });

  </script>
